@model LMS_Assig_.Models.Assignment

<h2>Assignment Details</h2>

<div>
    <h4>Name: @Model.Name</h4>
    <hr />
    <p>@Model.Name</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
